
server:
  port: 8083

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/attendance_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

